 <div class="reveal" id="enquire-reveal" data-reveal data-animation-in="fadeIn">
	<button class="product-page-sticky-content-close" data-close aria-label="Close modal" type="button"></button>
	<div class="product-page-sticky-title text-center">
		{{t('for_more_info')}}
	</div>
	
	{% include "theme::forms.enquire_form"|raw %}
	
</div>