<p>Regional demand for local expertise in automated flexible and modular warehousing solutions has boosted business growth for Acme Intralog, with the company recording a 35% growth over the previous year. In 2022, the company plans to move part of their retail operations to Dubai Investment Park, expand their existing production facility in JAFZA, introduce more product lines for carton and tote solutions and implement a new SAP system to improve working processes and efficiency.</p>
<p>According to Navin Narayan, CEO, Acme Intralog: “In 2021, we completed significant projects, including a new sortation system for fruits, vegetables, and dry goods for the largest supermarket operator in the region, and order fulfillment solutions for the biggest global e-commerce provider for their new facility in Saudi Arabia. We increasingly focused on robotics, specifically cobot solutions, through new partnerships with companies like Hanwha and OnRobot, as well as manufacturing customised mechanical grippers in-house. The disruption in supply chain due to the pandemic has encouraged more companies in the region to rely on local warehousing solution providers and, going forward, I believe this trend will continue.”&nbsp;
</p>
<p>Further achievements in 2021 include providing automation solutions for the largest regional fashion retailer for their distribution centre in Saudi Arabia and implementing a high speed robotic palletisation system for one of the biggest dairy product manufacturers in Saudi Arabia.&nbsp;
</p>
<p>Acme has also increased investment in the company’s in-house R&D and manufacturing departments. This has led to the expansion of product range by Acme, like High Density Pallet Storage System, Radio Shuttle and Pallet Quality Check Stations.&nbsp;
</p>
<p>In 2021, Acme also recorded positive response from the industry at its booths in major trade shows - Seamless Middle East, Materials Handling, Gulfood Manufacturing, India Warehousing Show and the SCLG summit. The company renewed its ISO certifications including ISO 9001:2015, ISO 45001: 2018, and ISO 14001:2015, as part of its ongoing commitment to maintaining quality standards.
</p>
<p></p>
<p></p>