<hr>
<p>Through an ongoing partnership with Swiss market leader Habasit, Acme also provides conveyor and power transmission systems, engineered to keep industries in motion. These include an extensive range of fabric-based conveyor belts, plastic modular belts and chains, power transmission belts, monolithic and timing belts.<br></p>
<p>Narayan added: “As a committed automation solution partner for various industry sectors, we are constantly innovating to upgrade our product offerings and services. We remain an independent solution provider and therefore, clients from any sector can work with us with peace-of-mind, knowing that we are not part any competing conglomerate.”
</p>
<p>Acme’s state of the art belt service centre located in Jebel Ali Free Zone operates around the clock in order to cater to both urgent replacement needs as well as customisation requests.&nbsp;
</p>
<p>Acme’s consultants support clients throughout the entire process, from concept and planning, to design, installation, and maintenance of new and retrofit belting systems.
</p>