<p>As the UAE embarks on its 'Operation 300bn' strategy to position the country as a global industrial hub by 2031, Acme Intralog- the leading provider of industrial and intralogistics automation components and solutions in MENA region- foresees a growing emphasis on solutions for factory floor safety. The company has now partnered with Axelent (leading machine guard manufacturer) and Pizzato (producer of modern industrial production systems), to provide fast and easy access to industrial safety products and solutions in the MENA region.</p>
<p>Navin Narayan, CEO, Acme Intralog, says:</p>
