<p></p>
<ul><li>Technical documentation and reporting.
</li><li>Constant attention to detail.
</li><li>Demonstrated leadership skills.
</li><li>Can build strong interpersonal relationships.
</li><li>Comprehensive knowledge of test instrumentation, measurement techniques and metrology methods.
</li></ul>