<p>Navin Narayan added: “Our new generation Radio Shuttle can drastically improve pallet storage density for standard pallets of up to 1,500 kg.&nbsp;Customised options for specific needs and higher load requirements are available on request. Namla improves productivity as well as safety of operations in a high density distribution center.”</p>
<p>The semi-automated system can be handled by forklift in a customised rack.&nbsp;Namla can be operated remotely with an industrial grade touch panel that allows for quick task management.The Li-ion battery is designed to last through a typical shift operation of a distribution center for a minimum of eight hours. The batteries are easily interchangeable for continuous operation.
</p>
<p>Acme also offers a Namla polar edition, which operates safely in harsh temperatures and can be deployed by the cold storage industry, operating safely between -30 to + 40 degrees.
</p>
<p>Navin added: “We have had a great response for Namla from our clients and we are currently looking for regional distributors and integrators for our Radio Shuttle.”
</p>