<p></p><ul><li>Serves customers by identifying their needs and engineering adaptations of products, equipment, and services.
</li><li>Identifies current and future customer service requirements by establishing personal rapport with potential and actual customers and others in a position to understand service requirements.
</li><li>Provides product, service, or equipment technical and engineering information by answering questions and requests.
</li><li>Establishes new accounts and services accounts by identifying potential customers and planning and organizing sales call schedule.
</li><li>Prepares cost estimates by studying all related customer documents, consulting with engineers, designers, and other professional personnel.
</li><li>Determines improvements by analysing cost-benefit ratios of equipment, supplies, or service applications in customer environment and engineering or proposing changes in equipment, processes, or use of materials or services.
</li><li>Gains customer acceptance by explaining or demonstrating cost reductions and operations improvements.
</li><li>Develops customer’s staff by providing technical information and training.
</li><li>Prepares sales engineering reports by collecting, analysing, and summarizing sales information and engineering and application trends.
</li><li>Maintains professional and technical knowledge by attending educational workshops, reviewing professional publications, establishing personal networks, and participating in professional societies.
</li><li>Contributes to sales engineering effectiveness by identifying short-term and long-range issues that must be addressed, recommending options and courses of action, and implementing directives.
</li><li>Contributes to team effort by accomplishing related results as needed.
</li></ul>