<p>Navin Narayan added,&nbsp;“At Acme, we are able to assist businesses to realise reduced operational costs while increasing capacity, productivity, utilisation rate, and at the same time delivering on customer expectations.”</p>
<p>Narayan will also participate in a&nbsp;<b>panel discussion</b>&nbsp;at the event on November 2nd where he will share his experience on the latest warehouse automation trends and Industry 4.0 applications.
</p>
<p>Acme’s Head of Planning, Emprade Ebrahim, will speak at the event’s&nbsp;<b>Tech Talk session</b>&nbsp;on increasing operational efficiency by automating pallet storage and retrieval. At the session attendees can learn about how to adopt automated storage and retrieval systems (ASRS) within an existing or new facility, scalable solutions to eliminate bottlenecks of different industries and understand the application and benefits of warehouse automation.
</p>
<p>At stand A26, Acme will also display technology from two of their&nbsp;<b>global partners</b>: Leuze’s advanced sensor and identification systems and Pizzato’s latest range of position switches and safety devices.
</p>
<p>The event will take place at the Dubai Exhibition Center from November 2-4, 2021.
</p>