<p></p><p>A strong understanding of all the software used in an automated warehouse.</p><ul><li>A strong understanding of intralogistics, warehouse management systems, and material flow systems.
</li><li>A strong understanding of computer science fundamentals.
</li><li>5 or more years of software implementation experience.
</li><li>3 or more years of experience in project management.
</li><li>3 or more years in a client-facing role.
</li><li>Ability to build relationships with internal and external stakeholders to enable timely and scalable delivery.
</li><li>Process and workflow mindset to streamline implementation.
</li><li>Outstanding communication and presentation skills, both verbal and written.
</li><li>Ability to anticipate areas of difficulty and quickly adapt to meet the needs of customers.
</li><li>Basic understanding of PLC & Conveyors.
</li><li>Strong work ethic and the ability to work autonomously.
</li><li>Ability to build strong working relationships quickly and effectively with clients and colleagues.
</li><li>Demonstration of good judgment and ability to know when to listen v/s ask questions.
</li><li>Innate service mentality and care for the client experience.
</li><li>Experience using project management tools such as MS Project to plan and track projects.
</li><li>Project Management (PMP, Prince2) certifications are desirable.
</li><li>Occasional travel requirements.
</li><li>Experience in any Object-Oriented Programming language is a plus.
</li><li>Basic understanding of SQL and reporting tools.
</li></ul>