<p></p>
<ul><li>Inspect equipment and systems to identify any issues.
</li><li>Repair faulty equipment units and damaged systems.
</li><li>Develop and implement preventative maintenance procedures.
</li><li>Manage the system to guarantee functionality.
</li><li>Plan and schedule repairs.
</li><li>Conduct periodic quality checks on equipment and systems to ensure everything is up to standard.
</li><li>Perform general maintenance tasks.
</li><li>Help develop and implement the budget for the maintenance department.
</li><li>Maintain the inventory records for equipment and supplies.
</li></ul>