<p></p>
<ul><li>Coordinate with Site Manager/Supervisor for proper assessment of the requirement.
</li><li>Comprehensive knowledge of test instrumentation, measurement techniques and metrology methods.
</li><li>Installation experience in automated machineries like conveyors, lifting machines, pneumatic systems, sorters, stacker cranes etc.
</li><li>Performs material modifications and joining.
</li><li>Developing, testing and make modifications to a systems
</li><li>Completing all duties according to applicable safety measures and published
</li><li>Using screwdrivers, wrenches, socket wrenches, pliers, hammers, chisels and punches to troubleshoot and repair equipment
</li><li>Proper use of power tools with all safety regulations.
</li><li>Assisting other technicians with diagnostic checks and symptom analysis.
</li><li>Explaining technical issues to non-technical people.
</li><li>Keeping an up to date inventory of conveyor belts and tools.
</li><li>Identifying equipment malfunctions and then carrying out
</li><li>Repairing or replacing defective equipment
</li><li>Carrying out preventative maintenance.
</li><li>Interpreting test plans and procedures.
</li><li>Wearing appropriate safety clothes in designated safety
</li><li>Consulting with senior colleagues regarding technical issues.
</li><li>Keeping the workplace in an organized and clean condition.
</li><li>Cleaning and lubricating gears, shafts, bearings and other machinery
</li><li>Inspecting and preparing loads that need to be moved.
</li><li>Involve in Proper and safe palletizing of materials that need to be transported.
</li><li>Ensuring compliance with state and company safety procedures.
</li><li>Technical documentation and constant attention to detail.</li><li>Demonstrated leadership skills.</li><li>Can build strong interpersonal relationships.</li></ul>
<p><br></p>
<ul></ul>