<p></p>
<ul><li>Must be a high school graduate.</li><li>Must have an analytical mind.&nbsp;<span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
</li><li>Must have the ability to solve problem in a logical way.<span class="Apple-converted-space">&nbsp;</span>
</li><li>Must have good time management.
</li><li>Must have an excellent punctuality and attendance record.
</li></ul>