<p></p><ul><li><span></span>Responsible for developing complex, modularized and distributed software solutions in Java and possibly other languages.
  </li><li><span></span>Responsible for taking ownership of entire software modules and developing software to completion
  </li><li><span></span>Responsible for the full spectrum of the software development life-cycle.
  </li><li><span></span>Works with other technical staff and engineers to understand and to develop solutions for complex technical problems across multiple engineering disciplines
  </li><li><span></span>Frequently communicates with co-workers, management and clients which may involve delivering presentations.
  </li><li><span></span>Participates in the development of software user manuals or other documentation, i.e. Business Requirement Definition or Detailed Specifications.
  </li><li><span></span>Recognizes critical issues of any kind and escalates to management
  </li><li><span></span>Provides on-call support (any level for any shift) as per company guidelines
  </li><li><span></span>Participates in the development of software user manuals or other documentation, i.e. Business Requirement Definition or Detailed Specifications.
  </li><li><span></span>Travels on-site to support and organize software commissioning, ramp-up and support for projects world-wide.
</li></ul>