<h2>DESCRIPTION</h2><p></p><p>We are looking for a Software Developer to build and implement functional programs. You will work with other Developers and Product Managers&nbsp;throughout the software development life cycle.
</p>
<p>In this role, you should be a team player with a keen eye for detail and problem-solving skills. If you also have experience in Agile frameworks and popular coding languages (e.g. JavaScript), we’d like to meet you.
</p>
<p>Your goal will be to build efficient programs and systems that serve user needs.
</p><p><br></p>