<p></p>
<ul><li>Designs mechanical and electromechanical products and systems by developing and testing specifications and methods.
</li><li>Evaluates mechanical and electromechanical systems and products by designing and conducting research programs and applying principles of mechanics, thermodynamics, hydraulics, heat transfer, and materials.
</li><li>Confirms system and product capabilities by designing feasibility and testing methods and properties.
</li><li>Develops mechanical and electromechanical products by studying customer requirements; researching and testing manufacturing and assembly methods and materials; and soliciting observations from operators.
</li><li>Develops manufacturing processes by designing and modifying equipment for fabricating, building, assembling, and installing components.
</li><li>Assures system and product quality by designing testing methods; testing finished-product and system capabilities; and confirming fabrication, assembly, and installation processes.
</li><li>Prepares product reports by collecting, analyzing, and summarizing information and trends.
</li><li>Provides engineering information by answering questions and requests.
</li><li>Maintains product and company reputation by complying with government regulations.
</li><li>Keeps equipment operational by coordinating maintenance and repair services; following manufacturer’s instructions and established procedures; and requesting special services.
</li><li>Maintains system and product data base by writing computer programs and entering data.
</li><li>Completes projects by training and guiding technicians.
</li><li>Maintains professional and technical knowledge by attending educational workshops, reviewing professional publications, establishing personal networks, participating in professional societies.
</li><li>Contributes to team effort by accomplishing related results as needed.
</li></ul>