<p><br></p>
<ul><li>Technical skills:</li><li>A strong understanding of Computer Science fundamentals, software design patterns and architecture.</li><li>2-4 years of experience in the following technologies:</li><li>Core Java/ J2EE, Spring / Web MVC /Spring Boot, React JS/ Angular JS/ Vue JS,HTML 5, CSS, Typescript.</li><li>API Development and deployment – Knowledge of REST & SOAP protocols.</li><li>Extensive knowledge of data processing, relational databases systems – Oracle DB, MSSQL , MySQL etc.</li><li>Microservices development , architecture concepts, deployment experience.</li><li>Experience on Containerized platform components like Docker & Kubernetes.</li><li>CI/CD implementation.</li><li>Experience on Web service Test Frameworks and Tools.</li><li>Designed and developed presentation layer.</li><li>Ability to do DB Design, Application Design.</li><li>Experience in other Object oriented programming language is a plus.</li><li>Experience in Intralogistics, Warehouse Management Systems, and Material Flow Systems is a plus.</li></ul>
<p><strong>Other skills:</strong>
</p>
<ul><li>Excellent written and verbal communication skills.
</li><li>Must be a creative thinker, results oriented, focused, and attentive to detail and accuracy.
</li><li>Must have the ability to prioritize, multi-task and meet budgets and deadlines.
</li><li>Sharp, quick, dedicated, and innovative problem solver.
</li><li>Must be organized, detail oriented, and able to think designs through completely.</li></ul>
<p></p>