<p></p><ul><li>Advanced understanding of general maintenance procedures and techniques.
</li><li>Physically capable and available to work overtime including weekends, public holidays, and evenings.
</li><li>Effective problem-solving abilities.
</li><li>Excellent written and verbal communication skills.
</li><li>Must be well- organized and have the ability to prioritize tasks.
</li><li>Work experience in automated machineries like conveyors, lifting machines, pneumatic systems, sorters, stacker cranes etc.<span class="Apple-converted-space">&nbsp;</span>
</li><li>Must be able to use and handle the proper power tools and other mechanical tools as per the requirements.
</li></ul>