<p></p>
<ul><li>Bachelor’s degree in mechanical engineering (Master’s preferred).</li><li>Experience working in the mechanical engineering field.</li><li>Superior computer skills, with solid experience in CAD programs.</li><li>Must have the&nbsp;<span class="s1">ability to&nbsp;</span>work logically and systematically&nbsp;<span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
</li><li>Must be proficient in Microsoft Office.</li><li>Must have good time management.</li><li><span class="s2">Must have strong interpersonal skills and the ability to work well as part of a team.</span><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
</li><li>Must have excellent communication skills, both oral and written.
</li></ul>