<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem a commodo euismod. In hac habitasse platea dictumst. Mauris ultrices ligula odio, ut sagittis massa bibendum eget. Aliquam orci elit, tempus eu lorem sollicitudin, posuere dictum odio. Donec eleifend tempor diam, id feugiat nisi iaculis a. Suspendisse semper augue nibh, vitae feugiat ante ornare nec. Vestibulum ut turpis eu nisi sollicitudin viverra. Ut hendrerit urna arcu, sed volutpat enim scelerisque quis. Sed sed mi auctor diam volutpat lobortis. Praesent dignissim sapien eu tortor congue, quis luctus nibh sollicitudin. Nullam hendrerit nunc ac nulla luctus, ac eleifend diam hendrerit. Fusce sed tellus id velit aliquet elementum eu ac ante.
</p>
<p>Fusce vel orci dignissim, auctor diam in, egestas leo. Mauris aliquet sapien a nunc dignissim luctus. Nam nec laoreet neque, vitae dictum nisl. Suspendisse ligula erat, dignissim in cursus ut, aliquet malesuada quam. Phasellus eleifend commodo ligula quis maximus. Donec pellentesque rhoncus interdum. Sed eu orci accumsan tortor tincidunt finibus ut sed dui.
</p>
<p>In nec feugiat lectus, sed dictum risus. Phasellus lobortis mi sed pulvinar gravida. Vivamus a venenatis metus. In convallis in diam id aliquet. Nulla fringilla velit risus, vel porta est laoreet vel. Proin dignissim diam lacus, a tincidunt est tincidunt in. Suspendisse tempor rutrum nisl hendrerit efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eu dolor et orci tristique ornare. Curabitur consectetur lacus posuere ultricies cursus. Morbi convallis at odio quis volutpat. Pellentesque tempus non dolor sit amet finibus.
</p>
<h3>I. Definitions</h3>
<p>In the Privacy Policy definitions and expressions, which are written in the capital letter, shall have the same meaning as defined down below:
</p>
<ol><li>Personal Data – any information about you, as a natural person, whose identity has been identified or can be identified; the natural person, whose identity can be identified, is the person, whose identity can be identified directly (using an identifier such as name and surname, internet identifier) or indirectly (according to one or more physical, physiological, genetic, psychological, economic, cultural or social identity features);
</li><li>GDPR– Regulation (EU) 2016/679 of European Parliament and of the Council of dated 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC;
</li><li>You or you, or yours – any person, who is a Visitor or in any way submits Personal Data to Scale3C;
</li><li>Visitor – any natural person, who visits the Website;
</li><li>Personal Data Breach – means a breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorized disclosure of, or access to, Personal Data transmitted, stored or otherwise processed;
</li><li>Privacy Policy – the rules and requirements that are indicated in the Website and establishes the procedure of collection, storage and use of information related to the use of the Website, as well as other relevant provisions;
</li><li>Scale3C or Data Controller, or we, or us, or us – Scale3C, UAB, legal entity code 304675553, registered office address Girulių str. 10-201, Vilnius, the Republic of Lithuania, office address AltSpace, Lakunu str. 24, Vilnius, the Republic of Lithuania;
</li><li>Cookies – small files, which are sent into your browser and stored in your computer, mobile phone or other device, which you are using to connect to the Website;
</li><li>Website – website that is available at&nbsp;<a href="https://scale3c.com/" target="_blank" rel="noopener">https://scale3c.com/</a>.
</li></ol>
<h3>II. Your Rights And Obligations Related To Processing Of Your Personal Data By Scale3c</h3>
<ul><li>You, as the Personal Data subject, have all rights specified in the applicable legal acts, including the indicated down below:<ol><li>right to revoke the given consent. If you have given us your consent to process your Personal Data, you may revoke it at any time (withdrawal of the consent shall not affect the legality of the consent to the processing of Personal Data performed prior the withdrawal of consent) by contacting us using the contact details specified in Section 12 of the Privacy Policy;
</li><li>right to request the access to your Personal Data. You can access your Personal Data, which are processed by Scale3C. You can get information on how it is collected, how much time your data are stored and who and to what extent they get your data. However, your right of access may be limited by the legal acts;
</li><li>right to request rectification of Personal Data. You may require Scale3C to correct Personal Data that is related to you, if it is incorrect, inaccurate or incomplete;
</li><li>right to object. Under the certain circumstances, you have the right to object the processing of your Personal Data, including when your Personal Data are processed on the basis of the legitimate interest. You also have the right to oppose the use of your Personal Data for the direct marketing purposes (only if and when we process data for these purposes);
</li><li>right to restriction of processing. If you think that your Personal Data processed by Scale3C is incorrect or you disagree with the use of the data, you may require Scale3C that the use of this data should be limited solely to storage. The use shall be limited to the storage, until the verification of the accuracy of the data, or it shall be checked that Scale3C's legitimate interests override your interests;
</li><li>right to request deletion of Personal Data. If your Personal Data are processed illegally, you disagree to such processing of your Personal Data or there are other legal grounds, you have the right to request that the data be erased in accordance with the restrictions specified in legal acts;
</li><li>right to data portability. You have the right to get Personal Data related to you, which you submitted to Scale3C in a structured, commonly used and machine-readable format, and have the right to transmit those data to another controller in accordance with the procedure established by the legal acts.
</li></ol>
</li><li>Also, you have a right to submit claim to the State Data Protection Inspectorate, if you think that the processing of Personal Data that is related to you is performed in breach of the legal acts. However, you always have a right to contact us firstly using the contacts indicated in Section 12 of this Privacy Policy, if you have additional questions or you want to implement your rights related to the processing of the Personal Data, mentioned above.
</li><li>When submitting requests in order to implement rights related to processing of Personal Data, you will be asked to confirm your identity (for example, you must sign it electronically when submitting the request using the electronic means).
</li></ul>
<h3>III. Definitions</h3>
<p>In the Privacy Policy definitions and expressions, which are written in the capital letter, shall have the same meaning as defined down below:
</p>
<ol><li>Personal Data – any information about you, as a natural person, whose identity has been identified or can be identified; the natural person, whose identity can be identified, is the person, whose identity can be identified directly (using an identifier such as name and surname, internet identifier) or indirectly (according to one or more physical, physiological, genetic, psychological, economic, cultural or social identity features);
</li><li>GDPR– Regulation (EU) 2016/679 of European Parliament and of the Council of dated 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC;
</li><li>You or you, or yours – any person, who is a Visitor or in any way submits Personal Data to Scale3C;
</li><li>Visitor – any natural person, who visits the Website;
</li><li>Personal Data Breach – means a breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorized disclosure of, or access to, Personal Data transmitted, stored or otherwise processed;
</li><li>Privacy Policy – the rules and requirements that are indicated in the Website and establishes the procedure of collection, storage and use of information related to the use of the Website, as well as other relevant provisions;
</li><li>Scale3C or Data Controller, or we, or us, or us – Scale3C, UAB, legal entity code 304675553, registered office address Girulių str. 10-201, Vilnius, the Republic of Lithuania, office address AltSpace, Lakunu str. 24, Vilnius, the Republic of Lithuania;
</li><li>Cookies – small files, which are sent into your browser and stored in your computer, mobile phone or other device, which you are using to connect to the Website;
</li><li>Website – website that is available at&nbsp;<a href="https://scale3c.com/" target="_blank" rel="noopener">https://scale3c.com/</a>.
</li></ol>
<table><tbody><tr><td>_ga
</td><td>2 years
</td><td>3rd party
</td><td>Used to distinguish users.
</td><td>This Cookie is used to distinguishes unique users by assigning a randomly generated number as a client identifier. It is included in each page request in a site and used to calculate visitor, session and campaign data for the Websites analytics reports.
</td></tr><tr><td>_gid
</td><td>24 hours
</td><td>3rd party
</td><td>Used to distinguish users.
</td><td>Registers a unique ID that is used to generate statistical data on how the visitor uses the Website.
</td></tr><tr><td>_gat
</td><td>1 minute
</td><td>3rd party
</td><td>Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this cookie will be named dcgtm_.
</td><td>This Cookie is used to help the performance of _ga Cookie and to throttle the data request rate.
</td></tr><tr><td>_cfduid
</td><td>5 years
</td><td>3rd party
</td><td>Used to identify individual clients behind a shared IP address and apply security settings on a per-client basis.
</td><td>The "__cfduid" cookie is set by the CloudFlare service to identify trusted web traffic. It does not correspond to any user id in the web application, nor does the cookie store any personally identifiable information.
</td></tr><tr><td>Bettr_cookiesAcce
</td><td>1 years
</td><td>Bettr
</td><td>Used to remember if user accepted Cookies policy
</td><td>Identifies unique users and their actions for Cookies pop-up-
</td></tr></tbody></table>
<h3>IV. Your Rights And Obligations Related To Processing Of Your Personal Data By Scale3c</h3>
<p>In the Privacy Policy definitions and expressions, which are written in the capital letter, shall have the same meaning as defined down below:
</p>
<ol><li>Personal Data – any information about you, as a natural person, whose identity has been identified or can be identified; the natural person, whose identity can be identified, is the person, whose identity can be identified directly (using an identifier such as name and surname, internet identifier) or indirectly (according to one or more physical, physiological, genetic, psychological, economic, cultural or social identity features);
</li><li>GDPR– Regulation (EU) 2016/679 of European Parliament and of the Council of dated 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC;
</li><li>You or you, or yours – any person, who is a Visitor or in any way submits Personal Data to Scale3C;
</li><li>Visitor – any natural person, who visits the Website;
</li><li>Personal Data Breach – means a breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorized disclosure of, or access to, Personal Data transmitted, stored or otherwise processed;
</li><li>Privacy Policy – the rules and requirements that are indicated in the Website and establishes the procedure of collection, storage and use of information related to the use of the Website, as well as other relevant provisions;
</li><li>Scale3C or Data Controller, or we, or us, or us – Scale3C, UAB, legal entity code 304675553, registered office address Girulių str. 10-201, Vilnius, the Republic of Lithuania, office address AltSpace, Lakunu str. 24, Vilnius, the Republic of Lithuania;
</li><li>Cookies – small files, which are sent into your browser and stored in your computer, mobile phone or other device, which you are using to connect to the Website;
</li><li>Website – website that is available at&nbsp;<a href="https://scale3c.com/" target="_blank" rel="noopener">https://scale3c.com/</a>.
</li></ol>