<p>In its continued efforts to help e-commerce, wholesale and retail companies improve their warehouse efficiency, Acme Intralog, has introduced pick-to-light technology in partnership with Kardex Remstar.&nbsp;</p>
<p>Growing order demand and limited storage capacity combined with fluctuating demand leave e-commerce companies struggling to meet customer delivery times. Using Kardex Remstar’s ‘<b>Color Picking</b>’ pick-to-light solution, Acme offers a scalable solution to its clients, enabling e-commerce facilities to flex labor to meet spikes in order demand.
</p>
<p>Color Picking ensures higher throughput and maximum labor efficiency in the warehouse with up to 70% space, doubled picking throughput and a ROI of less than 18 months. Based on the principles of pick-to-light technology, Color Pick guides multiple operators through the picking process using colored pick-and put-lights allowing you to add or reduce labor resources to meet current order demand.
</p>
<p>Navin Narayan, CEO, Acme Intralog, says: “E-commerce in the region is growing at an unprecedented rate and sometimes companies find that demand surpasses capacity. We offer automated solutions like pick-to-light-technology, in partnership with international manufacturers, to help customers to scale their demands and avoid the need to build extensions, new facilities, or to outsource. When demand is high, Color Picking allows multiple workers to pick from dynamic work zones using pick-to-light technology for higher throughput. When demand is lower, the pick-to-light technology can be operated with only one worker. This allows organizations to easily scale their labor force to meet peaks in order picking demand.”
</p>
<p>Color Picking pick-to-light technology combines several orders into a batch that can be simultaneously processed. The unique Color Picking concept adds colored lights into the batch picking process allowing multiple operators to pick from one work zone.
</p>
<p>The Color Picking process can achieve up to 300 order lines per hour per operator to achieve higher throughput.
</p>
<p>It is a team picking philosophy with high throughput and dynamic workflows. Using multiple workers in one zone, multiple batches of orders can be filled at one time to achieve higher throughput.
</p>
