<p>Color Picking pick-to-light technology combines several orders into a batch that can be simultaneously processed. The unique Color Picking concept adds colored lights into the batch picking process allowing multiple operators to pick from one work zone.</p>
<p>The Color Picking process can achieve up to 300 order lines per hour per operator to achieve higher throughput.
</p>
<p>It is a team picking philosophy with high throughput and dynamic workflows. Using multiple workers in one zone, multiple batches of orders can be filled at one time to achieve higher throughput.
</p>