<ul><li><var><sup><span></span>Lead the onboarding process for new customers, from signing contracts to implementation.
  </sup></var></li><li><var><sup><span></span>Lead the definition of business and functional requirements, prioritize requirements, and define the scope.
  </sup></var></li><li><var><sup><span></span>Maintain overall control of the project scope, budget, and schedule.
  </sup></var></li><li><var><sup><span></span>Lead internal project team meetings and meetings with the customer.
  </sup></var></li><li><var><sup><span></span>Manage client expectations and maintain communication throughout the project.
  </sup></var></li><li><var><sup><span></span>Document, track, and report on all implementation tasks and milestones.
  </sup></var></li><li><var><sup><span></span>Develop an extensive working knowledge of the customer platform.
  </sup></var></li><li><var><sup><span></span>Develop a strong understanding of customer processes and workflows.
  </sup></var></li><li><var><sup><span></span>Provide timely assistance to customers with technical issues.
  </sup></var></li><li><var><sup><span></span>Take ownership of project success by proactively directing, mentoring, and coaching as needed to raise the bar on project delivery quality.
  </sup></var></li><li><var><sup><span></span>Coordinate and manage multiple implementation projects in parallel (including but not limited to implementations, upgrades, and new installations).
  </sup></var></li><li><var><sup><span></span>Provide timely assistance to customers with technical issues.</sup></var>
</li></ul>
<p></p>