<p></p>
<ul><li>Proven expertise as an electrical engineer.</li><li>Hands-on experience using design and calculation software.</li><li>Deep knowledge of electrical manufacturing processes.</li><li>Understanding of electrical engineering codes and safety standards.</li><li>Problem-solving abilities.</li><li>Attention to detail.</li></ul>