<p>Harsh environments for temperature controlled goods can add restrictions to productivity when handled manually. <br></p>
<p>Accidents / leakage can further reduce productivity in hygienic environments.</p>