<p></p>
<ul><li>Completion of electrician apprenticeship.
</li><li>Experience working as an electrician.
</li><li>High school diploma.
</li><li>Electrician degree from a technical college.
</li><li>Deep electrical system, power generation, blueprints and maintenance and repair knowledge.
</li></ul>