<p><br></p>
<p>Dr. Abdul Rahman Jassim Al Hammadi, Director General of Abu Dhabi Vocational Education and Training Institute (ADVETI) announced the establishment’s plans to set up an Innovation Centre in collaboration with Acme Intralog. The details were unveiled at the recently held <em>ADVETI Logistics & Supply Chain Industry Forum</em> which was attended by members from various industry sectors such as utilities, oil & gas sector, logistics, retail, and others.
</p>
<p>The objective of the Innovation Centre is to showcase the latest warehousing and logistics technologies to facilitate training programmes in the operations of warehousing and distribution centres, and provide practical experience to students and logistics professionals to enable them to make the right decisions regarding investment in automation. The Innovation Centre aims to help shape the adoption of <em>Industry 4.0</em> in the UAE and contribute to the <em>Operation 300 billion</em> strategy of the UAE Ministry of Industry and Advanced Technology to drive industrial growth in the UAE.
</p>
<p>The automation technologies at the Innovation Centre will include the use of robots in the field of logistics and warehouse management. This will help in the digital transformation of the logistics industry as students and executives will be trained in automation and the use of robots. The curriculum will be defined by the employment needs of the industry. Periodic meetings will be held with industry specialists to discuss the latest requirements in automation in their respective industries.
</p>
<p>Dr. Abdul Rahman Al Hammadi welcomed the initiative, which gives first-hand experience to students in ADVETI’s Logistics and Warehousing Programme, and will open doors of creativity and scientific excellence through practical training in the automation of supply chain industry. He said that the Innovation Centre will aid the Logistics and Warehouse Management Department in teaching about automation in the sector using simulation systems and robotics.&nbsp;
</p>
<p>He highlighted the contribution from ACME Intralog to equip the Innovation Centre, which is an example of how the academic sector and industry can collaborate to give practical experience to students in modern warehouse management and use of robots.
</p>
<p>Navin Narayan, CEO, Acme Intralog, spoke about the need for businesses to automate their manufacturing facility and warehouses. According to Narayan,&nbsp;</p><p><br></p>
<blockquote><h4>“ Implementing automation solutions can help companies to handle a significantly higher&nbsp; throughput faster, more accurately and safely at a lower cost without having employees working in multiple shifts. We are excited to collaborate with ADVETI to educate students and executives about the benefits of robotic palletisation and automation in logistics. ”</h4></blockquote>
<p></p>
<p>“We will provide the latest automation technology to ADVETI’s Innovation Centre. It will consist of pallet handling solutions including different types of Automated Storage & Retrieval Systems (AS/RS) as well as two carton handling solutions including order fulfillment for e-commerce sector.”
</p>
<p>ADVETI provides programmes in the field of logistics and warehouse management, and implements this in cooperation with the private and government sectors. The students at ADVETI&nbsp; study several basic subjects such as mathematics, English and computers, in addition to specialized subjects such as warehouse management, design and construction of warehouses, and how to store hazardous materials. This gets the students ready for the job market right after graduation. The programme is also integrated with official lectures, visual presentations, workshops, and practical on-the-job training. During the programme, students are continuously evaluated through academic tests and practical assessment.&nbsp;
</p>
<p>ADVETI aims to equip Emirati students attending the logistics course with the highest technical capabilities and applied scientific skills required to work in public and private sectors.
</p>
<p>Dr. Al Hammadi also honored the speakers at the <em>ADVETI Logistics & Supply Chain Industry Forum</em> and the attending Senior Executives from the industry, adding that ADVETI aspires to work with the industry to meet its labour needs in automation and robotics.&nbsp;
</p>
<p>ADVETI is also in the process of updating vocational programmes to increase practical training through the institute's workshops.
</p>