<p>Navin Narayan added, "We offer automated solutions like pick-to-light-technology, in partnership with international manufacturers, to help customers to scale their demands and avoid the need to build extensions, new facilities, or to outsource. When demand is high, Color Picking allows multiple workers to pick from dynamic work zones using pick-to-light technology for higher throughput. When demand is lower, the pick-to-light technology can be operated with only one worker. This allows organizations to easily scale their labor force to meet peaks in order picking demand.”</p>
<p>Color Picking pick-to-light technology combines several orders into a batch that can be simultaneously processed. The unique Color Picking concept adds colored lights into the batch picking process allowing multiple operators to pick from one work zone.
</p>
<p>The Color Picking process can achieve up to 300 order lines per hour per operator to achieve higher throughput.
</p>
<p>It is a team picking philosophy with high throughput and dynamic workflows. Using multiple workers in one zone, multiple batches of orders can be filled at one time to achieve higher throughput.
</p>