<p></p>
<ul><li>Install, maintain and repair electrical control, wiring, and lighting systems.
</li><li>Read technical diagrams and blueprints.
</li><li>Perform general electrical maintenance.
</li><li>Inspect transformers and circuit breakers and other electrical components.
</li><li>Troubleshoot electrical issues using appropriate of testing devices.
</li><li>Repair and replace equipment, electrical wiring, or fixtures.
</li><li>Follow National Electrical Code state and local building regulations.
</li><li>Circuit breaker corrective maintenance.
</li><li>Good knowledge of heating and air conditioning systems.
</li><li>Good knowledge of various test equipment.
</li></ul>
<p>&nbsp;
</p>