<p>We will exhibit at the largest international trade show for intralogistics, LogiMAT, again this year. The event will take place in Stuttgart, Germany. You can find us in Hall 1 at Stand 1L08.</p>
<p>Experience a range of systems and solutions for factory and warehouse automation, including a robotic pick & place application with AI vision technology, a portfolio of our conveyor systems as well as an AS/RS for high-density pallet storage.</p>
<p>Discuss your automation requirements with our expert team, who have decades of expetise in solving operational challenges in the intralogistics sphere.</p>
<p>For more information and tickets, visit&nbsp;<a href="http://www.logimat-messe.de/en" target="_blank">www.logimat-messe.de/en</a>.&nbsp;
</p>