<ul><li>Lead the onboarding process for new customers, from signing contracts to implementation.</li><li>Lead the definition of business and functional requirements, prioritize requirements, and define the scope.
</li><li>Maintain overall control of the project scope, budget, and schedule.
</li><li>Lead internal project team meetings and meetings with the customer.
</li><li>Manage client expectations and maintain communication throughout the project.
</li><li>Document, track, and report on all implementation tasks and milestones.
</li><li>Develop an extensive working knowledge of the customer platform.
</li><li>Develop a strong understanding of customer processes and workflows.
</li><li>Provide timely assistance to customers with technical issues.
</li><li>Take ownership of project success by proactively directing, mentoring, and coaching as needed to raise the bar on project delivery quality.
</li><li>Coordinate and manage multiple implementation projects in parallel (including but not limited to implementations, upgrades, and new installations).
</li><li>Provide timely assistance to customers with technical issues.</li></ul>