<p>Technical skills:</p>
<ul><li>A strong understanding of Computer Science fundamentals, software design patterns and architecture
</li><li>1-2 years of experience in the following technologies:
</li><li>Java
</li><li>Spring Ecosystem/Web MVC
</li><li>SQL
</li><li>REST
</li><li>JSON
</li><li>Angular/REACT/Vue
</li><li>Linux/Unix,
</li></ul>
<p>Nice-to-have:
</p>
<ul><li>Docker
</li><li>Git
</li><li>JavaScript
</li><li>Tomcat
</li></ul>
<p>Other skills:
</p>
<ul><li>Excellent written and verbal communication skills.
</li><li>Must be a creative thinker, results oriented, focused, and attentive to detail and accuracy.
</li><li>Must have the ability to prioritize, multi-task and meet budgets and deadlines.
</li><li>Sharp, quick, dedicated, and innovative problem solver.
</li><li>Must be organized, detail oriented, and able to think designs through completely
</li></ul>
<p>Experience in Intralogistics, Warehouse Management Systems, and Material Flow Systems is a plus
</p>