<p></p><ul><li>Must have an exceptional and strong communication abilities.
</li><li>Must be flexible to travel around the globe for sales and marketing purposes.
</li><li>Must be competent in resolving the customer problems, and handling work independently.
</li><li>Must be proficient in training the newly appointed staff members systematically and efficiently.
</li><li>Must be capable of maintaining better and healthy relationship with other staff members.
</li><li>Four-year degree in Computer Science or a related field.
</li></ul>