<p>“We are excited to collaborate with ADVETI to educate students and executives about the benefits of robotic palletisation and automation in logistics. We will provide the latest automation technology to ADVETI’s Innovation Centre. It will consist of pallet handling solutions including different types of Automated Storage & Retrieval Systems (AS/RS) as well as two carton handling solutions including order fulfillment for e-commerce sector.”</p>
<p>ADVETI provides programmes in the field of logistics and warehouse management, and implements this in cooperation with the private and government sectors. The students at ADVETI&nbsp; study several basic subjects such as mathematics, English and computers, in addition to specialized subjects such as warehouse management, design and construction of warehouses, and how to store hazardous materials. This gets the students ready for the job market right after graduation. The programme is also integrated with official lectures, visual presentations, workshops, and practical on-the-job training. During the programme, students are continuously evaluated through academic tests and practical assessment.&nbsp;
</p>
<p>ADVETI aims to equip Emirati students attending the logistics course with the highest technical capabilities and applied scientific skills required to work in public and private sectors.
</p>
<p>Dr. Al Hammadi also honored the speakers at the&nbsp;<em>ADVETI Logistics & Supply Chain Industry Forum</em>&nbsp;and the attending Senior Executives from the industry, adding that ADVETI aspires to work with the industry to meet its labour needs in automation and robotics.&nbsp;
</p>
<p>ADVETI is also in the process of updating vocational programmes to increase practical training through the institute's workshops.
</p>