<p>In its continued efforts to help e-commerce, wholesale and retail companies improve their warehouse efficiency, Acme Intralog, has introduced pick-to-light technology in partnership with Kardex Remstar.&nbsp;</p>
<p>Growing order demand and limited storage capacity combined with fluctuating demand leave e-commerce companies struggling to meet customer delivery times. Using Kardex Remstar’s ‘<b>Color Picking</b>’ pick-to-light solution, Acme offers a scalable solution to its clients, enabling e-commerce facilities to flex labor to meet spikes in order demand.
</p>
<p>Color Picking ensures higher throughput and maximum labor efficiency in the warehouse with up to 70% space, doubled picking throughput and a ROI of less than 18 months. Based on the principles of pick-to-light technology, Color Pick guides multiple operators through the picking process using colored pick-and put-lights allowing you to add or reduce labor resources to meet current order demand.
</p>
<p>Navin Narayan, CEO, Acme Intralog, says:&nbsp;</p>
