<section class="section-30-150">
	<div class="row">
		<div class="small-12 large-8 columns nopad section-title-60 animation-element">
			<span>{{t('psi::learn_more')}}</span>
			<h2>
				{{t('psi::solutions.footer.title')}}
			</h2>
		</div>
		<div class="small-12 columns nopad about-us-page-section-list animation-list-js">
			<ul>
				<li class="animation-element fade-in-up" >
					{# Brochures block #}
					{% include "np.module.psi::partials.footer_brochures"|raw %}
					
					{# Whitepapers block #}
					{% include "np.module.psi::partials.footer_whitepapers"|raw %}
				</li>
				<li class="animation-element fade-in-up" >
					{# Articles block #}
					{% include "np.module.psi::partials.footer_articles"|raw %}
				</li>
				 <li class="animation-element fade-in-up" >
					 {# Case List block #}
					 {% include "np.module.psi::partials.footer_caselist"|raw %}
				 </li>
				<li class="animation-element fade-in-up">
					{# Videos block #}
					{% include "np.module.psi::partials.footer_object_video"|raw %}
				</li>
			</ul>
		</div>
	</div>
</section>
{% include "np.module.psi::partials.for_more_info_popup"|raw  %}