<div id="custom-block-id-{{ blockNum }}" class="small-12 columns nopad news-inner-page-block news-inner-page-block-important">
    <div class="small-12 columns nopad news-inner-page-block-important-title">
        <img src="/app/default/assets/img/img-important.svg"/>
        {{ entry.title|raw }}
    </div>
    <div class="small-12 columns nopad entry">
        {{ entry.textarea|raw }}
    </div>
</div>