
	<div class="small-12 columns nopad footer-bottom">
		  <div class="small-12 medium-4 medium-offset-8 large-2 large-offset-10 columns nopadleft footer-copyright">
				ACME©{{ "now"|date("Y") }}
		  </div>
	 
		  <div class="footer-bottom-whatsapp">
				<a href="#">
					  <img src="{{ img('theme::img/icon-whatsapp.svg').url() }}">
				</a>
		  </div>
	 </div>

