
	<div class="small-12 columns nopad footer-bottom">
		  <div class="small-12 medium-4 medium-offset-8 large-2 large-offset-10 columns nopadleft footer-copyright">
				ACME©{{ "now"|date("Y") }}
		  </div>
	 
		  <div class="footer-bottom-whatsapp">
				{# <a href="#">
					  <img src="{{ img('theme::img/icon-whatsapp.svg').url() }}">
				</a> #}
				
				{# whatsupo integtation  #}
				<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
				<div class="elfsight-app-444235e0-ea0c-4948-ba7d-abf7c9d1e931"></div>
				
		  </div>
	 </div>

