<div class="small-12 columns nopad news-inner-page-content-left-title">
    {{t('more_knowledge')}}
</div>
<div class="small-12 columns nopad news-inner-page-content-left-items">
    {% set links = categories.knowledge.limit(5).get() %}

    {% if links is not empty %}
   <div class="small-12 columns nopad news-inner-page-content-left-items-v2">
        <ul>
            {% for link in links %}
            <li>
                <a href="{{ link.public_url }}">
                    {{link.title }}
                </a>
            </li>
           {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
