<div class="alert text-center cookiealert" role="alert">
	{{t('theme::we_use_cookies')}} <a
		  href="{{ url_route('pages::4.en') }}" target="_blank">{{t('theme::learn_more')}}</a>
	 <button type="button" class="btn btn-primary btn-sm acceptcookies">
		{{t('theme::agree')}}
	 </button>
</div>