
<section class="privacy-page-section">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns nopad privacy-page-section-content">
      <div class="small-12 columns nopad section-title-60 section-title-normal text-center animation-element fade-in-up">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="small-12 columns nopad privacy-page-section-content-items animation-element fade-in-up anim-delay-250ms">
        <div class="small-12 columns nopad privacy-page-section-content-item entry entry-privacy">
          {{ page.content.render|raw }}
        </div>
      </div>
    </div>
  </div>
</section>