{% extends "theme::layouts/default" %}

{% block content %}
            <div class="breadcrumbs-media-hold">
                <div class="row">
                    <div class="small-12 columns nopad breadcrumbs-media">
                        {% if breadcrums %}
                           <a href="{{ breadcrums.url }}">
                                {{t(breadcrums.parent)}}
                            </a>
                            /
                            {{ breadcrums.current }}
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {# Header block #}
            {% include "np.module.psi::solutions.partials.header"|raw %}
            
            {% if item.image %}
               <div class="section-full-video-image">
                   <div class="row row-full">
                       <div class="small-12 columns nopad section-full-video-image-hold animation-element fade-in-up">
                           <!-- image -->
                           <div class="section-full-video-image-box img-object-fit">
                               <img src="{{item.image.cropped().widen(1920).url()}}">
                           </div>
                       </div>
                   </div>
               </div>
            {% endif %}
            
            {# Challenges block #}
            {% include "np.module.psi::solutions.partials.challenges"|raw %}
            
            {# Components block #}
            {% include "np.module.psi::solutions.partials.components"|raw %}
            
            {# Footer block #}
            {% include "np.module.psi::solutions.partials.footer"|raw %}
            
            
{% endblock %}